<! -- Faço a inclusão do header.ejs em public -->
    <%- include('../public/partials/header.ejs') %>
    <! -- faço a inclusão do nav -->
        <%- include('../public/partials/navbar.ejs') %>

        <body>
            <! -- class container para organizar pelo centro o arquivo (bootstrap) -->
                <div class="container">
                    <hr>
                    <h1>Perguntas</h1>
                    <hr>
                    <! -- Botão que leva ao forum.ejs -->
                        <a href="/forum" class="btn btn-primary">Perguntar</a>
                        <br>
                        <! --percorrer o arrey do banco (formato que o banco tras os dados) -->
                            <%pergunta.forEach(pergunta=>{%>
                            <br>
                            <! -- card para organizar em quadros (bootstrap) -->
                                <div class="card">
                                    <div class="card-body">
                                        <! -- tras o titulo da pergunta-->
                                            <h3><%=pergunta.titulo%></h3>
                                    </div>
                                    <a href="/pergunta/<%= pergunta.id %>"><div class="card-footer">
                                        <button class="btn btn-success">Responder</button></a>
                                    </div>
                                </div>
                                <%})%>
                </div>
        </body>
        <! -- incluindo o footer-->
            <%- include('../public/partials/footer.ejs') %>