<%- include('../public/partials/header.ejs') %>
<body>
    <%- include('../public/partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1><%=pergunta.titulo%></h1>
        <p><%=pergunta.descricao%></p>
        <hr>
    </div>
</body>
<%- include('../public/partials/footer.ejs') %>